# Solutions - Homework 5

## Markets Foundations

### UChicago Financial Mathematics

#### September 2023

* Mark Hendricks
* hendricks@uchicago.edu

#### This assignment is not submitted, graded, or for credit. 
Rather, it is assigned for learning purposes.

## 1 Calculating Returns

Use the data in `data/equity_data.xlsx`
* tab `prices AAPL`: columns `Unadjusted Price` and `Adjusted Price`
* tab  `dividends AAPL`: columns `ex_date` and `dividend_amount`

### 1.1
For the most recent 2 dividend dates, calculate the one-day return to AAPL using the unadjusted price and the dividend amount. 

That is, for a given dividend, calculate the return for the day prior to the "ex date" and ending on the "ex date". Do this for at least the most recent two dividends. (Though it is probably just as easy to adjust the return on every dividend date.)

How close is this to the return calculated from the adjusted price percentage change?

### 1.2
For the most recent stock split, (see multiple in `dividend_amount` and indicated in the column `dividend_type`,) calculate the return to AAPL using the unadjusted price along with this split and dividend info.

How close is this computed return to that calculated from the adjusted price growth?

## 2 Stock Sensitivity

Use the data in `data/equity_data.xlsx`, in the tab `etf history`.

For the ETFs listed in `etf history`, calculate their percentage change over time. (These are adjusted prices, so this is a measure of their returns.)

## 2.1
Report the correlation table.

## 2.2

In equities, there is an important metric: a stock's **beta**:

$$r_t = \alpha + \beta r^{\text{SPY}}_t + \epsilon_t$$

This beta is analyzed with respect to many factors, but it is most widely analyzed with respect to the S&P 500 (or a similar, broad equity index. Thus the notation $r^{\text{SPY}}_t$ on the right-hand side.

### Calculation
For each ETF return series, estimate the regression above. (You will estimate many regressions, in a loop, each using SPY as the right-hand-side factor.)

Report these betas. Which ETF has the most overall stock-market risk?

#### Hint: 

To estimate the regression, consider using the following approach:

`from sklearn.linear_model import LinearRegression`

`LinearRegression().fit(X,y).coef_`

***

# <span style="color:red">Solutions</span>

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,6)
plt.rcParams['font.size'] = 15
plt.rcParams['legend.fontsize'] = 13

from matplotlib.ticker import (MultipleLocator,
                               FormatStrFormatter,
                               AutoMinorLocator)
import sys
sys.path.insert(0, '../cmds')
from portfolio import *

## <span style="color:red">Solution 1</span>

In [2]:
LOADFILE = '../data/equity_data.xlsx'
TICK = 'AAPL'
TAB = f'prices {TICK}'
px = pd.read_excel(LOADFILE,sheet_name=TAB).set_index('date')

TAB = f'dividends {TICK}'
dvds = pd.read_excel(LOADFILE,sheet_name=TAB).set_index('ex_date')
dvds

,record_date,declared_date,payable_date,dividend_amount,dividend_frequency,dividend_type
ex_date,,,,,,
2022-05-06,2022-05-09,2022-04-28,2022-05-12,0.230000,Quarter,Regular Cash
2022-02-04,2022-02-07,2022-01-27,2022-02-10,0.220000,Quarter,Regular Cash
2021-11-05,2021-11-08,2021-10-28,2021-11-11,0.220000,Quarter,Regular Cash
2021-08-06,2021-08-09,2021-07-27,2021-08-12,0.220000,Quarter,Regular Cash
2021-05-07,2021-05-10,2021-04-28,2021-05-13,0.220000,Quarter,Regular Cash
...,...,...,...,...,...,...
1988-02-12,1988-02-19,1988-01-28,1988-03-15,0.000714,Quarter,Regular Cash
1987-11-17,1987-11-23,1987-11-12,1987-12-15,0.000714,Quarter,Regular Cash
1987-08-10,1987-08-14,1987-07-31,1987-09-15,0.000536,Quarter,Regular Cash
1987-06-16,1987-05-15,1987-04-22,1987-06-15,2.000000,None,Stock Split
1987-05-11,1987-05-15,1987-04-22,1987-06-15,0.000536,Quarter,Regular Cash

### 1.1

With the adjustments, returns are identical up to 4 decimal places.

In [3]:
rets = px.pct_change()
rets['Unadjusted Price Modified'] = rets.copy()['Unadjusted Price']

for dt in dvds.index:
    if dt in rets.index:
        if dvds.loc[dt,'dividend_type']=='Regular Cash':
            rets.loc[dt,'Unadjusted Price Modified'] = (px.loc[dt,'Unadjusted Price'] + dvds.loc[dt,'dividend_amount']) / px['Unadjusted Price'].shift().loc[dt] - 1

        elif dvds.loc[dt,'dividend_type']=='Stock Split':
            rets.loc[dt,'Unadjusted Price Modified'] = dvds.loc[dt,'dividend_amount'] * px.loc[dt,'Unadjusted Price'] / px['Unadjusted Price'].shift().loc[dt] - 1

In [4]:
rets.loc[dvds.index[0:2],:].style.format('{:.4%}')

### 1.2

By adjusting for the split, we get almost the exact same return as the "Adjusted Price" series.

Note that the "Unadjusted Price" would show a loss of nearly 75%!

In [5]:
rets.loc[dvds[dvds['dividend_type']=='Stock Split'].index[0]].to_frame().style.format('{:.4%}')

### Extra Analysis

#### Correlation

The unadjusted price series return has relatively low correlation with the adjusted series. 

However, after the modifications made above, it is over 99% correlated.

In [6]:
rets.corr().style.format('{:.1%}')

#### Performance

Without the adjustment, the stock splits and unaccounted dividends lead to a much lower mean and higher volatility.

In [7]:
performanceMetrics(rets,annualization=252).style.format('{:.1%}')

## <span style="color:red">Solution 2</span>

In [8]:
LOADFILE = '../data/equity_data.xlsx'
TAB = 'etf history'
etfs = pd.read_excel(LOADFILE,sheet_name=TAB).set_index('date')
spy = etfs[['SPY']]

x = spy.pct_change().dropna()

betas = pd.DataFrame(index=etfs.columns,dtype=float, columns=['SPY beta'])
for col in etfs.columns:
    y = etfs[[col]].pct_change().dropna()
    y, x = y.align(x,join='inner',axis=0)
    betas.loc[col] = LinearRegression().fit(x,y).coef_

betas.T.style.format('{:.2f}')